[submodule "submodules/cyclopsASCIILink"]
	path = submodules/cyclopsASCIILink
	url = git@github.com:ucb-cyarp/cyclopsASCIILink.git
[submodule "submodules/vitisTelemetryDash"]
	path = submodules/vitisTelemetryDash
	url = git@github.com:ucb-cyarp/vitisTelemetryDash.git
[submodule "submodules/uhdToPipes"]
	path = submodules/uhdToPipes
	url = git@github.com:ucb-cyarp/uhdToPipes.git
